@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

form{
    margin-top: 3rem;
    padding-left: 170px;
    padding-bottom: 20px;
}
form input[name="city"],
form input[name="country"]{
    background: transparent;
    color: #333;
    outline: none;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
    font-family: 'Fjalla One', sans-serif;
}
form input:focus{
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;

}
.btn-warning{
    height: 32px;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
}